<form method="post" action="{{ path('app_admin_trading_signal_delete', {'id': trading_signal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trading_signal.id) }}">
    <button class="btn">Delete</button>
</form>
