{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block body %}
	<main class="container my-5">

		{% include 'admin/_partial/_modal_form_signal.html.twig' with { form: signalForm } %}

		{% include 'admin/_partial/_table_signaux_actifs.html.twig' with { signals: signals } %}

		{% include 'admin/_partial/_table_signaux_historiques.html.twig' with { signals: signalsHistory, editForms: editForms } %}

		{% include 'admin/_partial/_table_users.html.twig' with { users: users } %}

		{% for signal in signalsHistory %}
			{% include 'admin/_partial/_modal_edit_signal.html.twig' with { form: editForms[signal.id], signal: signal } %}
			{% include 'admin/_partial/_modal_delete_signal.html.twig' with { signal: signal } %}
		{% endfor %}

		{% for signal in signals %}
			{% include 'admin/_partial/_modal_close_signal.html.twig' with {
				signal: signal,
				form: closeForms[signal.id]
    		} %}

		{% endfor %}
		{% for user in users %}
			{% include 'admin/_partial/_modal_edit_user.html.twig' with {
		user: user,
		form: userForms[user.id]
	} only %}
		{% endfor %}


	</main>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
