{% extends 'base.html.twig' %}

{% block body %}
  <div class="container text-center my-5">
    <h1 class="display-4 mb-4 text-light">{{ "Paiement pour l'abonnement abandonné"|trans }}</h1>
    <a href="{{ path('subscription_plans') }}" class="btn btn-outline-secondary">
      {{ "Retour à la liste des abonnements"|trans }}
    </a>
  </div>
{% endblock %}
