{# templates/_partial/sidebar.html.twig #}

{# Sidebar Desktop #}
<nav class="d-none d-md-flex flex-column border-end vh-100 p-3 sidebar">
  {% include '_partial/sidebar_content.html.twig' %}
</nav>

{# Sidebar Mobile Offcanvas #}
<div class="offcanvas offcanvas-start text-bg-dark d-md-none" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
  <div class="offcanvas-header border-bottom">
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-3">
    {% include '_partial/sidebar_content.html.twig' %}
  </div>
</div>
